body{margin: 0%;width: 80%;margin-left: 10%;background-color: rgb(193, 233, 181);}
/**/
#contentA{padding: 1%;background-color: rgb(255, 255, 255);display: grid;grid-template-columns: 35% 65%;}
.uno{width: auto;display: block;font-size: 2.2em;text-align: center;margin-top: 1%;color: green;font-weight: bold;text-shadow: 1px 25px rgb(3, 138, 3,0.5);box-shadow: -2px -5px 10px -5px green;}
.dos{width: auto;justify-content: right;}
/*LA*/
#listaA{display: grid;grid-template-columns: repeat(auto-fill,33.3%);text-align: center;}
#listaA li{list-style: none;width: 100%;color: rgb(53, 58, 58);padding: 1%;font-size: 1.5em;}
#listaA li a{text-decoration: none;color: rgb(40, 40, 40);}

#listaB{display: none;position: absolute;width: 20%;background-color: rgb(155, 255, 124);top: 0;right: 0;height: 92%;overflow-y: scroll;}
#listaB a{text-decoration: none;display: flex;list-style: none;margin-bottom: 10%;background-color: rgb(255, 0, 0,0.1);width: 100%;margin-left: 0%;}
#listaB a:hover{opacity: 80%;background-color: rgb(147, 242, 6,0.5);transition: all 0.2s;}
#listaB a img{width: 100px;height: 100px;border-radius: 15px;object-fit: cover;}
#listaB a p{margin-left: 5%;text-align: center;color: black;width: 50%;}
/**/
#contentB{width: 100%;margin-top: 1.5%;text-align: center;}
#imagen{display: block;}
#imagen img{width: 50%;height: 300px;box-shadow: 0px 0px 5px 5px rgb(83, 75, 75,0.2);border-radius: 18px;}
#imagen div{text-align: center;width: 100%;border-radius: 18px;margin-top: 5%;font-size: 2em;margin-right: 5%;}
#imagen nav{text-align: center;width: 100%;font-size: 0.5em;border-radius: 18px;margin-top: 1%;margin-right: 5%;}
/**/
#contentC{margin-top: 2%;width: 70%;margin-left: 15%;}
#contentC h2{text-align: center;}
#contentC div{text-align: center;}iframe{width: 60%;height: 40vh;}
#final{text-align: center;}
#final img{width: 60%;height: 160px;object-fit: cover;}
#iframeContent{display: none;top: 0;left: 0;right: 0;bottom: 0;position: fixed;margin: auto;height: 70vh;width: 80%;}
/**/
#contentD{width: 100%;margin-top: 5%;text-align: center;}
#imagenAA{height: 180px;border-radius: 1pc;border: solid 2px rgb(0, 255, 225,0.4);width: 100%;margin-top: 15%;}
#cell{display: none;}
#imagenes{display: block;position: absolute;left: 2%;width: 14.5%;display: grid;grid-template-columns: repeat(auto-fill,100%);top: 75%;}
#verA{display: block;}
#ver{display: none;}
/*contenido*/
#listAlter{position: absolute;right: 0;background-color: rgb(174, 255, 131);width: 15%;height: auto;z-index: 10;right: 0%;top: 75%;display: grid;grid-template-columns: repeat(auto-fill,100%);}
#documentoA{color: rgb(15,15,15);text-decoration: none;margin-top: 3%;margin-bottom: 10%;}
#documentoA:hover{transform: scale(120%);transition: all 0.1s;}
/*logos*/
#logo{position: absolute;left: 2%;top: 18%;height:250px;width: 15%;border:solid 2px rgb(2, 130, 2,0.2);box-shadow:-1px 1px 5px 10px rgb(2, 130, 2,0.5);}
#logoA{position: absolute;right: 2%;top: 18%;height:250px;width: 15%;border:solid 2px rgb(2, 130, 2,0.2);box-shadow:-1px 1px 5px 10px rgb(2, 130, 2,0.5);}
@media (max-width:1155px) {
    #imagen img{width: 60%;height: 250px;}
    /**/
    #contentB{width: 50%;margin-left: 25%;}
    #cell{display: none;}
    /**/
    #imagenes{width: 15%;}
    /**/
    #logo{top: 20%;width: 200px;height: 250px}
    #logoA{top: 20%;width: 200px;height: 250px}
}
@media (max-width:989px) {
    /**/
    #listaB{display: none;position: absolute;width: 30%;background-color: rgb(155, 255, 124);top: 0;right: 0;height: 92%;overflow-y: scroll;}
    #listaB a img{width: 90px;height: 90px;border-radius: 15px;object-fit: cover;}
    #listaB a p{margin-left: 2%;text-align: center;color: black;width: 50%;}
    /**/
    #TImagen{opacity: 80%;width: 100%;}
    #imagen img{width: 100%;height: 250px;}
    /**/
    #cell{display: none;}
    #imagenes{width: 15%;}
    #imagenAA{height: 150px;}
    /**/
    #listAlter{position: fixed;right: 0;background-color: rgb(174, 255, 131);width: 20%;height: auto;z-index: 10;right: 0%;top: 20%;display: grid;grid-template-columns: repeat(auto-fill,100%);}
    #documentoA{color: rgb(15,15,15);text-decoration: none;margin-top: 3%;margin-bottom: 15%;}
    #documentoA:hover{transform: scale(120%);transition: all 0.1s;}
    /**/
    #logo{top: 20%;width: 150px;height: 200px}
    #logoA{top: 20%;width: 150px;height: 200px}
}
@media (max-width:869px) {
    /**/
    #imagen img{width: 80%;height:150px;box-shadow: 0px 0px 5px 5px rgb(83, 75, 75,0.2);border-radius: 18px;}
    #cell{display: none;}
    #imagenes{width: 15%;}
    #imagenAA{height: 110px;}
    /**/
    #listaB{display: none;position: absolute;width: 40%;background-color: rgb(155, 255, 124);top: 0;right: 0;height: 92%;overflow-y: scroll;}
    #listaB a img{width: 90px;height: 90px;border-radius: 15px;object-fit: cover;}
    #listaB a p{margin-left: 2%;text-align: center;color: black;width: 60%;}
    /**/
    #listAlter{position: fixed;right: 0;background-color: rgb(174, 255, 131);width: 20%;height: auto;z-index: 10;right: 0%;top: 20%;display: grid;grid-template-columns: repeat(auto-fill,100%);}
    #documentoA{color: rgb(15,15,15);text-decoration: none;margin-top: 3%;margin-bottom: 15%;}
    #documentoA:hover{transform: scale(120%);transition: all 0.1s;}
    /**/
    #logo{top: 20%;width: 135px;height: 185px}
    #logoA{top: 20%;width: 135px;height: 185px}
}
@media (max-width:698px) {
    /**/
    #verA{display: none ;}
    #ver{display: block;}
    #cell{display: block;text-align:center;position: fixed;left: 0;top: 60%;width: 10%;}
    #imagenes{top:50%;padding-right: 1%;overflow-x: hidden;display: none;width: 100%;position: absolute;left: 0;background-color: rgb(164, 221, 127);height: 75vh;overflow-y:scroll;}
    #imagenes::-webkit-scrollbar {
        width: 5px;
        height: 8px; 
        background-color: white;
    }
    #imagenes::-webkit-scrollbar-thumb {
        background-color: rgb(62, 247, 210,0.8);
    }
    #imagen div{font-size: 1.7em;margin-right: 5%;}
    iframe{width: 90%;}
    /**/
    #imagen img{width: 80%;height:150px;box-shadow: 0px 0px 5px 5px rgb(83, 75, 75,0.2);border-radius: 18px;}
    #contentB{width: 70%;margin-left: 15%;}
    #imagenes{width: 25%;}
    #imagenAA{height: 150px;margin-right: 5%;margin-top: 0.5%;margin-bottom: 5%;}
    /**/
    #listaB{display: none;position: absolute;width: 60%;background-color: rgb(155, 255, 124);top: 0;right: 0;height: 92%;overflow-y: scroll;}
    #listaB a img{width: 90px;height: 90px;border-radius: 15px;object-fit: cover;}
    #listaB a p{margin-left: 2%;text-align: center;color: black;width: 80%;}
    /**/
    #logo{top: 25%;width: 100px;height: 155px}
    #logoA{top: 25%;width: 100px;height: 155px}
}
@media (max-width:489px) {
    body{margin: 0%;width: 95%;margin-left: 2.5%;background-color: rgb(193, 233, 181);}
    #listaA{display: grid;grid-template-columns: repeat(auto-fill,33.3%);margin-left: 0%;width: 100%;}
    #listaA li{list-style: none;width: 100%;font-size: 0.9em;margin-left: 0%;}
    .uno{width: 20%;}
    .dos{width: 80%;}
    iframe{width: 100%;}
    #imagen img{width: 50%;height: 200px;}
    #imagen div{font-size: 1.7em;margin-right: 2%;}
    /**/
    #listaB{display: none;position: absolute;width: 60%;background-color: rgb(155, 255, 124);top: 0;right: 0;height: 92%;overflow-y: scroll;}
    #listaB a img{width: 90px;height: 90px;border-radius: 15px;object-fit: cover;}
    #listaB a p{margin-left: 2%;text-align: center;color: black;width: 80%;}
    /**/
    #imagen img{width: 170px;margin-top: 0.2%;height: 150px;}
    #imagen div{font-size: 1.2em;}
    /**/
  
}